<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="landofcoder" translate="label" sortOrder="999">
			<label>landofcoder</label>
		</tab>
		<section id="lofwebpushnotification" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>lofwebpushnotification</label>
			<tab>landofcoder</tab>
			<resource>Lof_WebPushNotification::config</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General Settings</label>
				<field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="app_api_key" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Application Api Key</label>
					<comment/>
				</field>
				<field id="fcm_app_auth_domain" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Auth Domain</label>
					<comment/>
				</field>
				<field id="fcm_app_database_url" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Database Url</label>
					<comment/>
				</field>
				<field id="fcm_app_project_id" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Project ID</label>
					<comment/>
				</field>
				<field id="fcm_app_store_bucket" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Store Bucket</label>
					<comment/>
				</field>
				<field id="fcm_app_sender_id" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Sender ID</label>
					<comment/>
				</field>
				<field id="fcm_app_id" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>FCM Application ID</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
